<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            14 Days Home Workout
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">
                14 Days Home Workout
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="weeksContainer">
        <div *ngIf="week1" class="daysContainer">
            <div class="title">Week 1</div>
            <div (click)="goToWorkout(day.day)" *ngFor="let day of week1"
                 [class]="day.isDone ? 'day success' : 'day'">
                Day {{day.day}}
            </div>
        </div>
        <div *ngIf="week2" class="daysContainer">
            <div class="title">Week 2</div>
            <div (click)="goToWorkout(day.day)" *ngFor="let day of week2"
                 [class]="day.isDone ? 'day success' : 'day'">
                Day {{day.day}}
            </div>
        </div>
    </div>
</ion-content>
